@import url('../fonts/circe/stylesheet.css');
@import url('../fonts/gilroy/stylesheet.css');
@import url('../fonts/din-pro/stylesheet.css');

body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    margin: 0;
    padding: 0;
}